<mat-toolbar class="mat-toolbar" color="primary">
		<mat-toolbar-row>
				<span>Citi Branch/ATM Locator</span>
		</mat-toolbar-row>
</mat-toolbar>

<div class="flex-container">
	<mat-sidenav-container class="sidenav-container" *ngIf=displaySidenav>
		<mat-sidenav #sidenav mode="side">Drawer content</mat-sidenav>
		<mat-sidenav-content>ATM/Branch Locations</mat-sidenav-content>
	</mat-sidenav-container>
	<div class="gmaps-container">
		<google-map 
		#map 
		height="500px" 
		width="900px" 
		mapTypeId="terrain" 
		[center]="center" 
		[zoom]="zoom" 
		(mapClick)="addMarker($event)"
		(mapMousemove)="move($event)" 
		(mapRightclick)="removeLastMarker()">
		
		<map-marker 
			#aMarker 
			*ngFor="let marker of markers" 
			[position]="marker.latLng"
			[options]="marker.options" 
			(mapClick)="openInfoWindow(aMarker)"
			(mapClick)=centerOnMarker($event)>
		</map-marker>

		<map-marker 
			#currLocation
			[position] = "currentLocationInfo"
			[options]="markerOptions2" 
			(mapClick)="openInfoWindow(currLocation)"
			(mapClick)=centerOnMarker($event)>
		</map-marker>
		<map-info-window>Info Window</map-info-window>
	</google-map>
	<div>
		<button (click)=centerOnSelf()> Center on Self</button>
		<button (click)="displaySidenav=!displaySidenav">Toggle Sidenav</button>
	
		<div class="list" ng-repeat="markerPosition in markerPositions">
			{{ markerPositions }}
		</div>
	</div>
	</div>
</div>


