<google-map #map height="500px" width="100%" mapTypeId="terrain" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)"
	(mapMousemove)="move($event)" (mapRightclick)="removeLastMarker()">
	<map-marker #marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
		[options]="markerOptions" (mapClick)="openInfoWindow(marker)"></map-marker>
	<map-info-window>Info Window</map-info-window>
</google-map>
<div>
	<button (click)=getCurrentLocation()> Get Current Location</button>
	<button (click)=centerOnMarker(markerPositions[markerPositions.length-1]) > Center on Last Marker</button>
	<div class="list" ng-repeat="markerPosition in markerPositions">
		{{ markerPositions }}
	</div>
</div>
