.gmaps-container {
    width: 300px;
    height: 100px;
    margin: 10px;
}

.mat-toolbar {
    background-color: #003B70;
}

.sidenav-container {
    height: 500px;
    background-color: #D9261C;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.button-configs {
    padding-top: 20px;
    padding-bottom: 20px;
}

.overflow-auto {
    height: 300px;
    width: 400px;
    overflow: scroll;
}

p {
  font-family: Lato;
}

